<div class="sidebar-header">
  <img src="../public/images/githubIcon.png" alt="My profile picture" width="55%">
  <!-- <h3>Bootstrap Sidebar</h3> -->
</div>

<ul class="list-unstyled components">
  <p style="font-weight: bold; text-align: center; font-size: 1.2em;">Nuung's DeVlog</p>
  <li class="active">
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
    <ul class="collapse list-unstyled" id="homeSubmenu">
      <li><a href="#">Home 1</a></li>
      <li><a href="#">Home 2</a></li>
      <li><a href="#">Home 3</a></li>
    </ul>
  </li>
  <li>
    <a href="/portfolio">Portfolio</a>
  </li>
  <li>
    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Programming</a>
    <ul class="collapse list-unstyled" id="pageSubmenu1">
      <li><a href="#">Algorithm</a></li>
      <li><a href="#">Java</a></li>
      <li><a href="#">HTML - CSS</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Node</a></li>
      <li><a href="#">Framework & lib</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">Infra</a></li>
      <li><a href="#">Etc</a></li>
    </ul>
  </li>
  <li>
    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Story</a>
    <ul class="collapse list-unstyled" id="pageSubmenu2">
      <li><a href="#">Issue</a></li>
      <li><a href="#">Daily</a></li>
      <li><a href="#">Etc</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
</ul>

<ul class="list-unstyled CTAs">
  <li>
    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
  </li>
  <li>
    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
  </li>
</ul>